[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django-environ = "*"
docutils = "*"
reportlab = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
django-heroku = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
